{% extends 'index.html' %} {% block content %}{% load static %}

<!-- Report Issue -->

<div class="content-wrapper">
    <div class="row pt-5">
        <div class="col-md-6 grid-margin stretch-card mx-auto ">
            <div class="card ">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputUsername1">Report issue</label>
                        <textarea class="col-12 form-control  text-light"
                            style="height: 200px; background-color: #2A3038; " rows="4"></textarea>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-7" class="pull-right">
                            <button type="submit" onclick="redirect()" class="btn btn-outline-success btn-icon-text">
                                <i class="mdi mdi-file-check btn-icon-prepend"></i>
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</div>



<!-- button calling script (line 16-17)-->
<script>
    function redirect() {
        window.location.href = "/app/reportedissue"
    }
</script>

<!-- Report Issue end here -->

{% endblock %}