{% extends 'index.html' %} {% block content %} {% load static %}

<div class="content-wrapper">
  <div class="row" style="margin-top: 20px;">
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <div class="d-flex align-items-center align-self-start">
                <a href="/app/reportissuetrainers" style="text-decoration: none;color: white;">
                  <h3 class="mb-0">Trainers</h3>
                </a>
              </div>
            </div>
            <div class="col-3">
              <div class="icon icon-box-success ">
                <span class="mdi mdi-account-multiple-outline icon-item"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <div class="d-flex align-items-center align-self-start">
                <a href="/app/reportissuetrainees" style="text-decoration: none;color: white;">
                  <h3 class="mb-0">Trainees</h3>
                </a>
              </div>
            </div>
            <div class="col-3">
              <div class="icon icon-box-success">
                <span class="mdi mdi-account-multiple-plus icon-item"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <div class="d-flex align-items-center align-self-start">
                <a href="/app/reportissue" style="text-decoration: none;color: white;">
                  <h3 class="mb-0">Report Issue</h3>
                </a>
              </div>
            </div>
            <div class="col-3">
              <div class="icon icon-box-danger">
                <span class="mdi mdi-clipboard-text icon-item"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <div class="d-flex align-items-center align-self-start">
                <a href="/app/reportedissuesub" style="text-decoration: none;color: white;">
                  <h3 class="mb-0">Reported Issue</h3>
                </a>
              </div>
            </div>
            <div class="col-3">
              <div class="icon icon-box-danger ">
                <span class="mdi mdi-comment-alert icon-item"></span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}