{% extends 'index.html' %} {% load static %} {% block content %}

<div class="content-wrapper">

<div class="row" style="padding-top:20px;">
  <div class="col-sm-6 grid-margin">
    <div class="card" style="height: 280px">
      <a href="current" style="text-decoration: none;">
        <div class="card-body">
          
          <div class="row" style="padding-top:50px;">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <a href="/app/reportissuetrainers" style="text-decoration: none">
                  <h3 class="mb-0" style="color:white;">Trainers</h3>
                </a>
                
              </div>
             
            </div>
            <div class="col-4 col-sm-12 col-xl-2 text-center text-xl-right">
              <i class="icon-lg mdi mdi-account-multiple-outline text-success ms-auto"></i>

            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-sm-6 grid-margin">
    <div class="card" style="height: 280px">
      <div class="card-body">
        <a href="prteam" style="text-decoration:none;">
          
          <div class="row" style="padding-top:50px;">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <a href="/app/reportissuetrainees" style="text-decoration: none">
                  <h3 class="mb-0" style="color:white;">Trainees</h3>
                </a>
               
              </div>
             
            </div>
            <div class="col-4 col-sm-12 col-xl-2 text-center text-xl-right">
              <i class="icon-lg mdi mdi-account-multiple-plus text-success ms-auto"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- @ -->

<div class="row" style="padding-top:20px;">
  <div class="col-sm-6 grid-margin">
    <div class="card" style="height: 280px">
      <a href="current" style="text-decoration: none;">
        <div class="card-body">
          
          <div class="row" style="padding-top:50px;">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <a href="/app/reportissue" style="text-decoration: none">
                  <h3 class="mb-0" style="color:white;">Report Issue </h3>
                </a>
                
              </div>
              
            </div>
            <div class="col-4 col-sm-12 col-xl-2 text-center text-xl-right">
              <i class="icon-lg mdi mdi-clipboard-text text-danger ms-auto"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-sm-6 grid-margin">
    <div class="card" style="height: 280px">
      <div class="card-body">
        <a href="prteam" style="text-decoration:none;">
          
          <div class="row" style="padding-top:50px;">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <a href="/app/reportedissuesub" style="text-decoration: none">
                  <h3 class="mb-0" style="color:white;">Reported Issue </h3>
                </a>
                
              </div>
             
            </div>
            <div class="col-4 col-sm-12 col-xl-2 text-center text-xl-right">
              <i class="icon-lg mdi mdi-comment-alert text-danger ms-auto"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}