{% extends 'index.html' %} {% load static %} {% block content %}

<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="row" style="margin-top: -16px">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <h4>TRAINERS</h4>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12"><br></div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <form>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="text" class="form-control text-white" placeholder="Search" />
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-primary"><i class="fas fa-search text-light"
                                                style="font-size: 16px"></i></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <h4>Name</h4>
                                    </th>
                                    <th>
                                        <h4>Message</h4>
                                    </th>
                                    <th>
                                        <h4>Status</h4>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>

                                        <span class="ps-2">Henry Klein</span>
                                    </td>
                                    <td>Be sure to update the placeholder sections before posting.</td>

                                    <td>
                                        <div class="badge badge-outline-success" style="width: 95px;">
                                            <i class="mdi mdi-playlist-check"></i>&nbsp;
                                            Solved
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="ps-2">Estella Bryan</span>
                                    </td>
                                    <td>Be sure to update the placeholder sections before posting.</td>

                                    <td>
                                        <div class="badge badge-outline-danger" style="width: 95px;">
                                            <i class="mdi mdi-playlist-remove"></i>&nbsp;
                                            Un-Solve
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td>

                                        <span class="ps-2">Lucy Abbott</span>
                                    </td>
                                    <td>Be sure to update the placeholder sections before posting.</td>

                                    <td>
                                        <div class="badge badge-outline-danger" style="width: 95px;">
                                            <i class="mdi mdi-playlist-remove"></i>&nbsp;
                                            Un-Solve
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td>

                                        <span class="ps-2">Peter Gill</span>
                                    </td>
                                    <td>Be sure to update the placeholder sections before posting.</td>

                                    <td>
                                        <div class="badge badge-outline-success" style="width: 95px;">
                                            <i class="mdi mdi-playlist-check"></i>&nbsp;
                                            Solved
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td>

                                        <span class="ps-2">Sallie Reyes</span>
                                    </td>
                                    <td>Be sure to update the placeholder sections before posting.</td>


                                    <td>
                                        <div class="badge badge-outline-success" style="width: 95px;">
                                            <i class="mdi mdi-playlist-check "></i>&nbsp;

                                            Solved
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- end here -->

{% endblock %}