{% extends 'index.html' %} {% load static %} {% block content %}

<!-- Trainers Solved Issue Table -->

<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="row" style="margin-top: -16px">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <h4>TRAINERS</h4>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <form>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="text" class="form-control text-white" placeholder="Search" />
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-primary"><i class="fas fa-search text-light"
                                                style="font-size: 16px"></i></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> Name </th>
                                    <th> Department </th>
                                    <th> Problem </th>
                                    <th> Reply </th>
                                    <th> Status </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="ps-2">Henry Klein</span>
                                    </td>
                                    <td> Account </td>
                                    <td> As I assigned new project for the company,<br><br> kindly reduce the training
                                        hours . </td>
                                    <td> We are looking for new<br><br> trainers to train your group.<br><br> We will
                                        inform updations till then<br><br> you should continue with the<br><br> batch in
                                        specified time that<br><br>was issued to you earlier </td>
                                    <td>
                                        <div class="badge" style="color: rgb(94, 194, 94);font-size: medium;">Solved
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="ps-2">Estella Bryan</span>
                                    </td>
                                    <td> Admin </td>
                                    <td> As I assigned new project for the company,<br><br> kindly reduce the training
                                        hours . </td>
                                    <td> We are looking for new<br><br> trainers to train your group.<br><br> We will
                                        inform updations till then<br><br> you should continue with the<br><br> batch in
                                        specified time that<br><br>was issued to you earlier </td>
                                    <td>
                                        <div class="badge" style="color: rgb(94, 194, 94);font-size: medium;">Solved
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="ps-2">Lucy Abbott</span>
                                    </td>
                                    <td> HR </td>
                                    <td> As I assigned new project for the company,<br><br> kindly reduce the training
                                        hours . </td>
                                    <td> We are looking for new<br><br> trainers to train your group.<br><br> We will
                                        inform updations till then<br><br> you should continue with the<br><br> batch in
                                        specified time that<br><br>was issued to you earlier </td>
                                    <td>
                                        <div class="badge" style="color: rgb(94, 194, 94);font-size: medium;">Solved
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="ps-2">Peter Gill</span>
                                    </td>
                                    <td> Development </td>
                                    <td> As I assigned new project for the company,<br><br> kindly reduce the training
                                        hours . </td>
                                    <td> We are looking for new<br><br> trainers to train your group.<br><br> We will
                                        inform updations till then<br><br> you should continue with the<br><br> batch in
                                        specified time that<br><br>was issued to you earlier </td>
                                    <td>
                                        <div class="badge" style="color: rgb(94, 194, 94);font-size: medium;">Solved
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="ps-2">Sallie Reyes</span>
                                    </td>
                                    <td> Marketing </td>
                                    <td> As I assigned new project for the company,<br><br> kindly reduce the training
                                        hours . </td>
                                    <td> We are looking for new<br><br> trainers to train your group.<br><br> We will
                                        inform updations till then<br><br> you should continue with the<br><br> batch in
                                        specified time that<br><br>was issued to you earlier </td>

                                    <td>
                                        <div class="badge" style="color: rgb(94, 194, 94);font-size: medium;">Solved
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end here -->

{% endblock %}